# Week 3 - 28.10.2024

## For loops

Take example of this person who has **six** first names.
We store the name into the variable <code>first_name</code>

In [1]:
first_name = "David Gustavo Rodrigo Tim Brad Christian"

To get each sub-name from the names above, we have to split the string variable using <code>.split(" ")</code>.
Note that **" "** is the argument, so you are telling Python to separate the string based on the white spaces

In [3]:
names = first_name.split(" ")
print(names)

['David', 'Gustavo', 'Rodrigo', 'Tim', 'Brad', 'Christian']

Now, you have to get the first letter of each name, for example, "D" from "David", "G" from "Gustavo, etc. You can do it like this:

In [6]:
print(names[0][0])
print(names[1][0])
print(names[2][0])
print(names[3][0])
print(names[4][0])
print(names[5][0])

D
G
R
T
B
C

You can do it more efficiently with a <code>for</code> loop.

In [7]:
for name in names:
    print(name[0])
#note that we only are using one index and not name[0][0]

D
G
R
T
B
C

In [8]:
#you can do whatever you want inside the loop
for name in names:
    print(name[0].lower())

d
g
r
t
b
c

You can also create a list to store these first letters of each names. Check the cell below:

In [9]:
#First create an empty list:
first_letters = []
for name in names:
    letter = name[0].lower()
    first_letters.append(letter)    #use method append to add the elements to the list

print(first_letters)

['d', 'g', 'r', 't', 'b', 'c']

## Dictionaries

Imagine you want to calculate the difference of months. For example, substracting January (month number 1) from October (month number 10)

In [10]:
month_born = input("give me the month when you were born: ")
month_born = month_born.lower()

give me the month when you were born:  January

As you can see, the user gave you "January" and not "1", you need a dictionary where Python can look up the relation between the name of the month and the number of the month

In [13]:
months = {
    "january": 1,
    "february": 2,
    "march": 3,
    "april": 4,
    "may": 5, 
    "june": 6,
    "july": 7,
    "august": 8,
    "september": 9,
    "october": 10,
    "november": 11,
    "december": 12
}

You use the dictionary as follows:

In [14]:
months["january"]

1

### Exercise in class - solutionx
Create a dictionary where you can know the names of the sustainable development goals (sdgs) based on their numbers

In [15]:
sdgs_dictionary = {

   "1": "No Poverty",
    "2": "Zero Hunger",
    "3": "Good Health and Well-being",
    "4": "Quality Education",
    "5": "Gender Equality",
    "6": "Clean Water and Sanitation",
    "7": "Affordable and Clean Energy",
    "8": "Decent Work and Economic Growth",
    "9": "Industry, Innovation, and Infrastructure",
    "10": "Reduced Inequalities",
    "11": "Sustainable Cities and Communities",
    "12": "Responsible Consumption and Production",
    "13": "Climate Action",
    "14": "Life Below Water",
    "15": "Life on Land",
    "16": "Peace, Justice, and Strong Institutions",
    "17": "Partnerships for the Goals"
}

In [16]:
sdgs_dictionary["16"]

'Peace, Justice, and Strong Institutions'

## From dictionaries to dataframesx

In [18]:
#one lists with the sdg_numbers and another with their respective names
sdg_numbers = [
    1, 2, 3, 4, 5, 6, 7, 8, 9, 
    10, 11, 12, 13, 14, 15, 16, 17
]

sdg_names = [
    "No Poverty",
    "Zero Hunger",
    "Good Health and Well-being",
    "Quality Education",
    "Gender Equality",
    "Clean Water and Sanitation",
    "Affordable and Clean Energy",
    "Decent Work and Economic Growth",
    "Industry, Innovation, and Infrastructure",
    "Reduced Inequalities",
    "Sustainable Cities and Communities",
    "Responsible Consumption and Production",
    "Climate Action",
    "Life Below Water",
    "Life on Land",
    "Peace, Justice, and Strong Institutions",
    "Partnerships for the Goals"
]

Creating the dictionary

In [21]:
sdg_dict = {
    "sdg_number": sdg_numbers,
    "sdg_name": sdg_names
}

In [22]:
sdg_dict

{'sdg_number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 'sdg_name': ['No Poverty',
  'Zero Hunger',
  'Good Health and Well-being',
  'Quality Education',
  'Gender Equality',
  'Clean Water and Sanitation',
  'Affordable and Clean Energy',
  'Decent Work and Economic Growth',
  'Industry, Innovation, and Infrastructure',
  'Reduced Inequalities',
  'Sustainable Cities and Communities',
  'Responsible Consumption and Production',
  'Climate Action',
  'Life Below Water',
  'Life on Land',
  'Peace, Justice, and Strong Institutions',
  'Partnerships for the Goals']}

Now we have to import the package/library **Package for Analysis of Data in Python" or "Pandas"

In [23]:
import pandas as pd
sdgs_df = pd.DataFrame(sdg_dict) #function to create dictionary

In [25]:
# contemplate the beauty of a dataframe
sdgs_df

    sdg_number                                  sdg_name
0            1                                No Poverty
1            2                               Zero Hunger
2            3                Good Health and Well-being
3            4                         Quality Education
4            5                           Gender Equality
5            6                Clean Water and Sanitation
6            7               Affordable and Clean Energy
7            8           Decent Work and Economic Growth
8            9  Industry, Innovation, and Infrastructure
9           10                      Reduced Inequalities
10          11        Sustainable Cities and Communities
11          12    Responsible Consumption and Production
12          13                            Climate Action
13          14                          Life Below Water
14          15                              Life on Land
15          16   Peace, Justice, and Strong Institutions
16          17                Partnerships for the Goals