## Asking the user to provide the information

### First and Last Name

In [67]:
first_name = input("Please provide your first name (if more than one, please separated by one space): ")
last_name = input("Please provde your last name (if more than one, please separated by one space): ")

Please provide your first name (if more than one, please separated by one space):  Julia
Please provde your last name (if more than one, please separated by one space):  Winkler

### Year and month

In [68]:
year_born = input("In which year were you born, use the format YYYY, for example, 2008: ")
month_born = input("In which month were you born, for example, March :")

In which year were you born, use the format YYYY, for example, 2008:  1990
In which month were you born, for example, March : March

## Generating ID

### First name initials

In [80]:
#seperating the varios names in first name
fname = first_name.split(" ")
#creating empty list for the first letter of the each name of the first name
fname_letters= []
#for loop to get the first letter or character
for name in fname:
    letter = name[0].lower() #converting to lower case as instructed
    fname_letters.append(letter) #creating the list
#putting the initials together
fname_initials = "".join(fname_letters)

### Second name initials

In [81]:
#seperating the varios names in last name
lname = last_name.split(" ")
#creating empty list for the first letter of the each name of the first name
lname_letters= []
#for loop to get the first letter or character
for name in lname:
    letter = name[0].lower() #converting to lower case as instructed
    lname_letters.append(letter) #creating the list
#putting the initials together
lname_initials = "".join(lname_letters)

### Puttinn altogether

In [82]:
year_numbers = year_born[-2:] ##Getting the last two numbers of the year
initials = fname_initials + lname_initials + "_" + year_numbers

In [83]:
print(initials)

jw_90

## Calculating the user's age

Base on the month given, you have to create a dictionary where you store the months' names with their respective numeric value

In [84]:
#creating dictionary with months and their respective number
months = {
    "january": 1,
    "february": 2,
    "march": 3,
    "april": 4,
    "may": 5,
    "june": 6,
    "july": 7,
    "august": 8,
    "september": 9,
    "october": 10,
    "november": 11,
    "december": 12
}
#converting the months given in lower case
month_born = month_born.lower()
#applying the dictionary
month = months[month_born]
#converting the year to integer
year_born = int(year_born)

### Getting the month and year today

In [37]:
from datetime import datetime
now = datetime.now()

In [38]:
year_now = now.year
month_now = now.month

### Calculating age in years

In [85]:
age_years = year_now - year_born

### Calculating age in months

In [86]:
age_m = abs(month - month_now)

In [87]:
if age_m == 1:
 age_months = 11
elif age_m==2:
 age_months = 10
else:
 age_months = age_m

### Printing greeting

In [88]:
print(f"Hello {fname[0].capitalize()}, you are {age_years} years and {age_months} months old. Your ID is: {initials}")

Hello Julia, you are 34 years and 7 months old. Your ID is: jw_90